#container {
    margin-top: 15rem;
    border: 1px solid #000;
    padding: 3rem;
    text-align: center;
    width: 40rem;
    margin-left: auto;
    margin-right: auto;
    background-color:#ccc;
    border-radius: 1rem;
}

input, button, select {
    padding: 0.4rem;
    margin-top: 2rem;
    margin-bottom: 0.4rem;
    border-radius: 5px;
}

#btn-converter {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-position: center center;
    background-position: 30% 40%;
}

.color {
    background-color: orange;
    border-radius: 1rem;
    cursor: pointer;
}

.color:hover {
    background-color: rgb(189, 125, 7);
}

h1, p {
    font-family: "Playfair Display", serif;
}

#mensagem-usuario {
    border: 1px solid #000;
    background-color: #aaa;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

p {
    font-weight: bold;
}

#btnMensagem {
    margin-top: 1rem;
    background-color: orange;
    border-radius: 1rem;
    width: 15rem;
}

.oculto {
    display: none;
}

body {
    background-color: #f0f0f5;
}