@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: #000;
    color: white;
    margin: 0;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    width: 16rem;
    margin-right: auto;
    margin-left: auto;
    background: transparent;
    border-radius: 3px;
    margin-top: 1rem;
}

.relogio div{
    height: 4rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    letter-spacing: 2px;
    background-color: #191818;
}

.relogio span{
    font-weight: bold;
    font-size: 25px;
    color: #fff;
}

.relogio span.tempo {
    font-size: 12px;
}

.conteudo {
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 25px;
    margin-bottom: 50px;
    background: #2b2a2a;
    padding: 55px;
    border-radius: 12px;
}

.topo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.topo input {
    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #191818;
    outline: none;
    font-size: 1.2rem;
    background: #191818;
    color: white;
}

.topo button {
    width: 45px;
    border-radius: 12px;
    border: 1px solid #191818;
    background: #191818;
    color: #fff;
    outline: none;
}

.topo button:hover {
    background: #1f1e1e;
    cursor: pointer;
}

#listaTarefa {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#listaTarefa li{
    padding: 20px;
    background: #191818;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

.btnAcao {
    border-radius: 20px;
    border: 1px solid #191818;
    width: 38px;
    height: 38px;
    margin-right: 8px;
    cursor: pointer;
    background: #2b2a2a;
    color: #fff;
    outline: none;
}

.btnAcao:hover {
    background: #3c3a3a;
}

.textoTarefa {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 290px;
    white-space: nowrap;
}

.dataHoraTarefa {
    font-size: 0.8rem;
}

.titulo {
    display: flex;
    margin-left: 1rem;
}

#dataHora {
    margin-left: auto;
    margin-right: 5.3rem;
}